
@{
    ViewData["Title"] = "EduLearn";
}

<header>
    <style>
        #intro {
            height: 50vh !important;
        }

        #grad {
            background-image: linear-gradient(to bottom right, red, yellow);
        }
    </style>
    <!-- Background image -->
    <div id="intro" class="bg-image vh-100 shadow-1-strong">

        <div class="mask" style="
            background: linear-gradient(
              45deg,
              rgba(29, 236, 197, 0.7),
              rgba(91, 14, 214, 0.7) 100%
            );
          ">
            <br />
            <marquee direction="right">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlpUVVTCTmT9XAJVE1JdePcW_vL8blX4XsRw&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeD_5gBYPU6pN8IAmyv-L7__m8yzkEZmKHAg&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzGc9pQMoV7bKD7np2hzYnwMhk2pLzVBPswA&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxVtaTZDYSXYmX_S8HLg5rPVXuz_6EPKHtLQ&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ4smN9JZxFAaNouV4vMqqy5-AO_Mz1BPSuA&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGm3RYnX9XCdAR4ns2umXg-m4PzTRmAIfj3w&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuvd9ZPMYDqWbgfLUSnDHNrDmiGyDqAJMlOg&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf7Qku2SL1skITWAkxDQ579ZJKBAPCrsQdPg&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmGdTt81kXTTd2GjP92Zoe2egqUzvvSVp80g&usqp=CAU" class="img-fluid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ86RSiV5Q2mx6Vp3gQxxG-EpEDmu9MkCBuVA&usqp=CAU" class="img-fluid" />
            </marquee>
        </div>
    </div>
    <!-- Background image -->

</header>
<!--Main Navigation-->
<!--Main layout-->
<body id="grad">
    <!--Section: Content-->
    <h3 style="color:aliceblue;"><strong><marquee direction="left"> An educational app is a piece of mobile software designed to help individuals with remote learning of any kind. The examples vary from apps teaching kids basic math to apps acting as advanced professional training platforms for adults. </marquee></strong></h3>
    <br />
    <section class="text-center">
        <br />
        <h5 class="mb-5"><strong> <a class="text-dark" href="http://edulearn-enrollment.azurewebsites.net">ENROLL NOW</a> </strong></h5>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYajugjLfLxGoamqiMD-dmg38Bbi656mNgbw&usqp=CAU" class="img-fluid" />

                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                        <p class="card-text">
                            Be A Part of One of The Most Lucrative & Fast-Growing Career Paths. Enroll Now. Structured Learning Path Recommended by Leading Industry Experts to Ensure your Mastery.
                            Industry Expert Trainers. Earn Master on Completion.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBBRQrzm74WWnPyLXXFLGz1FxjaKehDH-how&usqp=CAU" class="img-fluid" />

                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Asp.Net</h5>
                        <p class="card-text">
                            About the Book ASP.NET Core in Action opens up the world of cross-platform web development with .NET. You'll start with a crash course in .NET Core,
                            immediately cutting the cord between ASP.NET and Windows.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIG6WNkB_B9e3EO5HVbEqPaNN-m3fTnxDojg&usqp=CAU" class="img-fluid" />

                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">C Programing</h5>
                        <p class="card-text">
                            Cprogramming.com covers both C and C++ in-depth, with both beginner-friendly tutorials, more advanced articles, and the book Jumping into C++,
                            which is a highly reviewed, friendly introduction to C++.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Content-->
    <!--Main layout-->
    <!--Footer-->
    <footer class="bg-light text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="http://edulearn-enrollment.azurewebsites.net">EDU LEARN ENROLL</a>
        </div>
        <!-- Copyright -->
    </footer>
    </body>


